@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.footer-container {
  position: relative;
  box-shadow: 0 -2px 4px hsla(330, 90%, 65%, 0.7);

  height: 250px;
  overflow: hidden !important;
  background-color: transparent !important;
}
.footer-bloc .text-black {
  background-color: transparent !important;
  color: black;
}



.social-icons span {
  background-color: #f43b8d;
  padding: 8px 15px;
  border-radius: 50%;
  margin: 7px;
}
.social-icons span i {
  font-size: 15px;
}
.social-icons .icon-02 {
  background-color: #f43b8d;
  padding: 8px 13px;
  border-radius: 50%;
}
.social-icons .icon-03 {
  background-color: #f43b8d;
  padding: 8px 13px;
  border-radius: 50%;
}
.social-icons .icon-04 {
  background-color: #f43b8d;
  padding: 8px 13px;
  border-radius: 50%;
}
.footer-container {
  background: #000;
}
.footer-bloc h2 {
  font-family: "Grey Qo", cursive;
  font-weight: 600;
  color: #e30071;
}
.footer-bloc h4 {
  font-family: "Grey Qo", cursive;
  font-weight: 600;
  color: #e30071;
}

.footer-container .custom-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.footer-container .custom-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: rgb(244, 59, 141);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(244, 59, 141, 0.25);
}

.footer-container .custom-input::placeholder {
  color: #6c757d;
  opacity: 1;
}

.footer-container .custom-input:disabled,
.footer-container .custom-input[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

.list-unstyled li a {
  color: hsl(330, 100%, 65%);
  font-style: italic;
  font-weight: bold;
}
